.page-main-actions {
    display: flex;
    flex-flow: column nowrap;
}

.page-main-actions .admin__field {
    margin: 5px;
    flex: 0 1 auto;
    display: flex;
}

.page-main-actions .admin__action {
    margin: 5px;
    flex: 0 1 auto;
    display: flex;
    justify-content: flex-end;
}

.admin__action .admin__field-control, .admin__action .admin__field-messages {
    margin: 5px;
    padding: 5px;
    flex: 0 1 auto;
}

.admin__action .admin__field-messages {
    flex: 1 1 auto;
}

.admin__field .admin__field-label, .admin__field .admin__field-control {
    margin: 5px;
    padding: 5px;
    flex: 1 1 auto;
}

.admin__field .admin__field-label {
    flex: 0 1 100px;
}

.admin__field .admin__control-select {
    width: 100%;
}

.admin__action .messages {
    height: 55px;
}

.admin__action .message {
    margin: 0 !important;
}

.admin__action button {
    height: 55px;
}

.response-block pre {
    width: 100%;
    min-height: 300px;
    font-family: "Courier New", Consolas, monospace;
    font-size: 14px;
    line-height: 1.4;
    padding: 10px 12px;
    border-radius: 4px;
    resize: vertical;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: pre;
}

footer.page-footer {
    display: none;
}
