.qa_assistant-logs-view .page-wrapper {
    height: 100vh !important;
}

.log-viewer-container pre {
    flex: 1;
    width: 100%;
    height: 100vh;
    min-height: 300px;
    max-height: 500px;
    font-family: "Courier New", Consolas, monospace;
    font-size: 14px;
    line-height: 1.4;
    box-sizing: border-box;
    padding: 10px 12px;
    border: 1px solid #333;
    border-radius: 6px;
    overflow-y: scroll;
    overflow-x: auto;
    white-space: pre;
}

footer.page-footer {
    display: none;
}
