<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © Auer, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="CronJobRun" xsi:type="object">Superb\QA\Console\Command\CronJobRun</item>
            </argument>
        </arguments>
    </type>

    <preference for="Superb\QA\Api\ProcessRepositoryInterface" type="Superb\QA\Model\ProcessRepository"/>
    <preference for="Superb\QA\Api\Data\ProcessInterface" type="Superb\QA\Model\Process"/>
    <preference for="Superb\QA\Api\Data\ProcessSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="cron_schedule_log_data_source" xsi:type="string">
                    Superb\QA\Model\ResourceModel\Schedule\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Superb\QA\Model\ResourceModel\Schedule\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">cron_schedule</argument>
            <argument name="eventPrefix" xsi:type="string">cron_schedule_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">schedule_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Magento\Cron\Model\ResourceModel\Schedule</argument>
        </arguments>
    </type>

    <type name="Superb\QA\Service\Commands">
        <arguments>
            <argument name="allowedCustomCommand" xsi:type="boolean">false</argument>
            <argument name="customCommands" xsi:type="array">
                <item name="Remove QA Logs" xsi:type="string">rm -rf var/log/qa/*</item>
                <item name="Remove Logs" xsi:type="string">rm -rf var/log/*</item>
            </argument>
            <argument name="excludes" xsi:type="array">
                <item name="admin:adobe-ims" xsi:type="string">admin:adobe-ims</item>
                <item name="app:config:dump" xsi:type="string">app:config:dump</item>
                <item name="app:config:import" xsi:type="string">app:config:import</item>
                <item name="braintree:migrate" xsi:type="string">braintree:migrate</item>
                <item name="cache:disable" xsi:type="string">cache:disable</item>
                <item name="cache:enable" xsi:type="string">cache:enable</item>
                <item name="catalog:product:attributes:cleanup" xsi:type="string">catalog:product:attributes:cleanup</item>
                <item name="cms:wysiwyg:restrict" xsi:type="string">cms:wysiwyg:restrict</item>
                <item name="completion" xsi:type="string">completion</item>
                <item name="config:sensitive:set" xsi:type="string">config:sensitive:set</item>
                <item name="config:set" xsi:type="string">config:set</item>
                <item name="cron:install" xsi:type="string">cron:install</item>
                <item name="cron:job:run" xsi:type="string">cron:job:run</item>
                <item name="cron:remove" xsi:type="string">cron:remove</item>
                <item name="customer:hash:upgrade" xsi:type="string">customer:hash:upgrade</item>
                <item name="deploy:mode:set" xsi:type="string">deploy:mode:set</item>
                <item name="dev" xsi:type="string">dev</item>
                <item name="downloadable" xsi:type="string">downloadable</item>
                <item name="encryption" xsi:type="string">encryption</item>
                <item name="i18n" xsi:type="string">i18n</item>
                <item name="indexer:set-dimensions-mode" xsi:type="string">indexer:set-dimensions-mode</item>
                <item name="indexer:set-mode" xsi:type="string">indexer:set-mode</item>
                <item name="info:dependencies" xsi:type="string">info:dependencies</item>
                <item name="inventory" xsi:type="string">inventory</item>
                <item name="maintenance:allow-ips" xsi:type="string">maintenance:allow-ips</item>
                <item name="maintenance:disable" xsi:type="string">maintenance:disable</item>
                <item name="module:disable" xsi:type="string">module:disable</item>
                <item name="module:enable" xsi:type="string">module:enable</item>
                <item name="module:uninstall" xsi:type="string">module:uninstall</item>
                <item name="newrelic" xsi:type="string">newrelic</item>
                <item name="queue" xsi:type="string">queue</item>
                <item name="remote-storage" xsi:type="string">remote-storage</item>
                <item name="sampledata" xsi:type="string">sampledata</item>
                <item name="security" xsi:type="string">security</item>
                <item name="setup" xsi:type="string">setup</item>
                <item name="theme:uninstall" xsi:type="string">theme:uninstall</item>
                <item name="varnish" xsi:type="string">varnish</item>
            </argument>
        </arguments>
    </type>
    <type name="Superb\QA\Service\Cron">
        <arguments>
            <argument name="excludes" xsi:type="array">
                <item name="backend_clean_cache" xsi:type="string">backend_clean_cache</item>
                <item name="captcha_delete_expired_images" xsi:type="string">captcha_delete_expired_images</item>
                <item name="captcha_delete_old_attempts" xsi:type="string">captcha_delete_old_attempts</item>
                <item name="expired_tokens_cleanup" xsi:type="string">expired_tokens_cleanup</item>
                <item name="inventory_in_store_pickup_sales_send_order_notified_emails" xsi:type="string">inventory_in_store_pickup_sales_send_order_notified_emails</item>
                <item name="magefan_admin_user_guide_xml_update" xsi:type="string">magefan_admin_user_guide_xml_update</item>
                <item name="magento_newrelicreporting_cron" xsi:type="string">magento_newrelicreporting_cron</item>
                <item name="mf_community_module" xsi:type="string">mf_community_module</item>
                <item name="newsletter_send_all" xsi:type="string">newsletter_send_all</item>
                <item name="outdated_authentication_failures_cleanup" xsi:type="string">outdated_authentication_failures_cleanup</item>
                <item name="sales_send_order" xsi:type="string">sales_send_order</item>
                <item name="security_clean_admin_expired_sessions" xsi:type="string">security_clean_admin_expired_sessions</item>
                <item name="security_clean_password_reset_request_event_records" xsi:type="string">security_clean_password_reset_request_event_records</item>
                <item name="security_deactivate_expired_users" xsi:type="string">security_deactivate_expired_users</item>
                <item name="system_backup" xsi:type="string">system_backup</item>
                <item name="visitor_clean" xsi:type="string">visitor_clean</item>
            </argument>
        </arguments>
    </type>
    <type name="Superb\QA\Service\LogFile">
        <arguments>
            <argument name="sizeLimit" xsi:type="string">20M</argument>
        </arguments>
    </type>
    <type name="Superb\QA\Ui\DataProvider\LogFileDataProvider">
        <arguments>
            <argument name="file" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
</config>
